<%= form_with url: weather_search_path, method: :get, class: "row domain-search" do %>
  <div class="container p-4 search-container">
    <div class="row align-items-center bg-white p-4 rounded shadow">
      <div class="col-md-3 text-center text-md-left">
        <h2 class="form-title"><strong>Poke</strong> Weather</h2>
        <p class="lead">Which Poke is in your city?</p>
      </div>
      <div class="col-md-9">
        <div class="input-group">
          <%= text_field_tag :city, params[:city], class: "form-control search-input", placeholder: "Enter city" %>
          <div class="input-group-append">
            <%= submit_tag "Search", class: "btn btn-search" %>
          </div>
        </div>
        <% if @random_search %>
          <div class="random-search mt-3 bg-light p-3 rounded">
            <h3>Previous searches:</h3>
            <div class="row">
              <div class="col-md-8">
                <p>City: <%= @random_search.city %></p>
                <p>Pokemon: <%= @random_search.pokemon %></p>
                <p>Temperature: <%= @random_search.temperature %>°C</p>
                <p>Date: <%= @random_search.created_at.strftime("%B %d, %Y %H:%M") %></p>
              </div>
              <% if @random_pokemon %>
                <div class="col-md-4 text-center">
                  <%= image_tag @random_pokemon.sprite_image, class: "pokemon-image", alt: @random_pokemon.name %>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>

<turbo-frame id="results">
  <!-- This will be replaced by Turbo Stream -->
</turbo-frame>