<h1 class="page-title">POKEDEX</h1>

<div class="table-container">
  <table class="table table-styling">
    <thead>
      <tr>
        <th><%= link_to "Dex No", pokemons_path(sort: "dex", direction: sort_direction("dex")) %></th>
        <th><%= link_to "Name", pokemons_path(sort: "name", direction: sort_direction("name")) %></th>
        <th><%= link_to "Height", pokemons_path(sort: "height", direction: sort_direction("height")) %></th>
        <th><%= link_to "Weight", pokemons_path(sort: "weight", direction: sort_direction("weight")) %></th>
      </tr>
    </thead>
    <tbody>
      <% @pokemons.each do |pokemon| %>
        <tr>
          <td><%= pokemon.dex %></td>
          <td><%= pokemon.name %></td>
          <td><%= pokemon.height %></td>
          <td><%= pokemon.weight %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>